:root {
    --primary: #ff6905;
    --secondary: #ff6905;
    --accent: #0066CC;
    --light: #f8f9fa;
    --dark: #333;
    --gray: #6c757d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #33333379;
    overflow-x: hidden;
}

/* Header */
.top-bar {
    background-color: #000;
    color: #FFF;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    text-decoration: none;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    text-decoration: none;
}

.top-bar-contact {
    display: flex;
    gap: 1.5rem;

}

.top-bar-contact span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.top-bar-social a {
    color: rgb(0, 0, 0);
    margin-left: 1rem;
    transition: color 0.3s;
}

.top-bar-social a:hover {
    color: #222020;
}

/* Navigation */
header {
    background-color: rgba(0, 0, 0, 0.712);
    backdrop-filter: blur(7px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo a img {
    width: 100px;
    animation: pulse 2s infinite;
}

.logo h1 {
    color: #fff;
    font-size: 2rem;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li:hover > a{
    color: #ff6905;
}


.mobile-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

.apropos-hero{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
     url('/img/8ae906e3c778b493bd6c0253fbcacc38.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}
.apropos-hero h1{
    font-size: 3rem;
    color: #ff6905;
}

.apropos-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;          
    max-width: 800px;
    margin: 2rem auto;
}
.apropos-content h2{
    color: #ff6905;
    text-align: center;
}
.apropos-content p{
    font-size: 1.1rem;
    color: #fff;
    text-align: justify;
    text-justify: inter-word;
}

.apropos-content ul li{
    color: #fff;
    list-style: none;
    text-align: center;
}

  /* Contact Section */
  .contact-section {
      background-color: #111;
      padding: 4rem 2rem;
  }
   .section-title h2 {
       font-size: 2.5rem;
       margin-bottom: 1rem;
       color: #ff6905;
       text-align: center;
   }
   .contact-info {
       display: flex;
       flex-direction: column;
       gap: 1.5rem;
       max-width: 600px;
       margin: 0 auto;
       color: #000;
    }
    .contact-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: #fff;
        border-radius: 20px;
    }
    .contact-item:hover{
          transform: translateY(-5px);
        transition: all 0.5s;
    }
    .contact-details h3 {
        margin: 0;
        padding-left: 40%;
        font-size: 1.3rem;
        color: #ff6905;
    }
    .contact-details p {
        margin: 0;
        padding-left: 10px;
        font-size: 1.1rem;
        color: #000;
    }
    .contact-icon {
        font-size: 2rem;
        color: #ff6905;
        padding-left: 20px;
    }
     .contact-icon:hover{
        transform: translateY(-5px);
        transition: all 0.5s;
     }


   .about-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.712),rgba(0, 0, 0, 0.842)),
    url(/img/4597f40d1639ae1b75edb322b22a0773.jpg);
    background-position: center;
    background-size: cover;
    }
    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }
    .about-img img {
        width: 500px;
        height: 60vh;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 10%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
    .about-img img:hover{
       transition: all 2s;
    }
    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-text h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #ff6905;
    }
    .about-text p {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
        color: #fff;
        text-align: justify;
        text-justify: inter-word;
    }

     /* Stats Section */
        .stats {
            background:#0808089f;
            text-align: center;
        }

        .stats-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1rem;
            max-width: 1200px;
            margin: 0 auto;
        }

        .stat-item {
            padding: 2rem;
        }

        .stat-number {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
            color: #ff6905;
        }

        .stat-text {
            font-size: 1.2rem;
            color: #fff;
        }


/* Footer */
footer {
    background-color: #000000c4;
    color: white;
    padding: 4rem 2rem 2rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-col h3 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    position: relative;
    padding-bottom: 0.5rem;
    color: #ff6905;
}

.footer-col h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: var(--primary);
}

.footer-col p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #ddd;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 0.8rem;
}

.footer-links a {
    color: #ddd;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.footer-links a:hover {
    color: #ff6905;
    transform: translateX(5px);
}

.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

.social-links a:hover {
    background-color: var(--secondary);
    transform: translateY(-5px);
}

.copyright {
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9rem;
    color: #ddd;
}

/* Animations */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Responsive */
@media (max-width: 992px) {

    /* Styles pour le menu mobile */
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        max-width: 300px;
        height: 100vh;
        background-image: linear-gradient(#000000, #000);
        backdrop-filter: blur(7px);
        flex-direction: column;
        padding: 2rem;
        transition: right 0.3s ease;
        z-index: 999;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.973);
    }


    nav ul.active {
        right: 0;
    }
    nav ul li {
        margin-bottom: 1.5rem;
    }
    nav ul li a {
        color: rgb(255, 255, 255) !important;
        font-size: 1.1rem;
        padding: 0.5rem 0;
        display: block;
    }
    nav ul li a:hover{
        color: var(--primary) !important;
        display: block;
        letter-spacing: 1px;
    }
    .hero-buttons{
        padding: 0.5rem 1rem;
    }
 


    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        z-index: 1000;
        transition: transform 0.3s ease;
    }

    .mobile-menu.active {
        transform: rotate(90deg);
    }

    /* Overlay quand le menu est ouvert */
    body.menu-open::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .about-img {
        order: -1;
    }

    nav ul {
        display: flex;
    }

    .mobile-menu {
        display: block;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {

    /* Styles pour le menu mobile */
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        max-width: 300px;
        height: 100vh;
        background-color: #000000;
        backdrop-filter: blur(9px);
        flex-direction: column;
        padding: 2rem;
        transition: right 0.3s ease;
        z-index: 999;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    }

    menu li a{
        display: none;
    }
    menu ul li a{
        margin-bottom: 1.5rem;
    }
     menu ul li a:hover{
        color: #ff6905;
        display: block; 
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        z-index: 1000;
        transition: transform 0.3s ease;
    }

    .mobile-menu.active {
        transform: rotate(90deg);
    }

    /* Overlay quand le menu est ouvert */
    body.menu-open::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }

    .logo a img{
        width: 80px ;
    }

    .top-bar-container {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .apropos-hero-container h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    section {
        padding: 3rem 1rem;
    }

    .section-title h2 {
        font-size: 2rem;
    }

    .about-features {
        grid-template-columns: 1fr;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: flex-start;
    }
    .about-img img{
        width: 100%;
    }
}
@media (max-width: 568px){

    .about-container {
        grid-template-columns: 1fr;
    }
    .apropos-hero-container h1{
        font-size: 1erm;
    }

    .apropos-hero-container p{
        font-size: 0.5erm;
    }
    .about-img {
        order: -1;
    }
    .about-text h2{
        font-size: 1.5rem;
    }
    .section-title h2{
        font-size: 1.5rem;
    }
    .programs-title h2{
        font-size: 1.5rem;
    }
    .about-content h3{
        font-size: 1.5rem;
    }
    .about-content p{
        font-size: 1rem;
    }
    .logo-text h1{
        font-size: 1.5rem;
    }
    .logo-img img{
        width: 80px;
    }
}